<ion-card class="card">
  <ion-card-content>
    <div echarts [options]="weightLineChartOptions"></div>
    <section class="card__summary">
      <span class="card__summary-title secondary">
        Исходный
        <br>
        <span class="primary">62.8 кг.</span>
      </span>
      <span class="card__summary-title secondary">
        Текущий
        <br>
        <span class="primary">63.9 кг.</span>
      </span>
      <span class="card__summary-title secondary">
        Цель
        <br>
        <span class="primary">70.0 кг.</span>
      </span>
    </section>
  </ion-card-content>
</ion-card>
