<ion-nav [root]="UserProfileNavigationRootComponent"></ion-nav>


<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar color="primary">-->
<!--    <ion-title>Профиль</ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content [fullscreen]="true" [color]="'light'">-->
<!--&lt;!&ndash;  <div class="wrapper">&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;    <ion-nav></ion-nav>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    <ion-list [inset]="true">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-list-header>Настройки</ion-list-header>&ndash;&gt;-->

<!--&lt;!&ndash;      &lt;!&ndash; Комплекция &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      <ion-nav-link [component]="PersonalAccountUserBuildComponent">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item&ndash;&gt;-->
<!--&lt;!&ndash;          [button]="true"&ndash;&gt;-->
<!--&lt;!&ndash;        >&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-label>Комплекция</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;      </ion-nav-link>&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;      &lt;!&ndash; Безопасность &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;      &lt;!&ndash;&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-nav-link [component]="SecurityPage">&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-item button>&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-label>Безопасность</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-nav-link>&ndash;&gt;-->
<!--&lt;!&ndash;      &ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;    </ion-list>&ndash;&gt;-->

<!--&lt;!&ndash;    <section class="wrapper__buttons">&ndash;&gt;-->
<!--&lt;!&ndash;      <ion-button class="wrapper__buttons-btn"&ndash;&gt;-->
<!--&lt;!&ndash;                  expand="block"&ndash;&gt;-->
<!--&lt;!&ndash;                  fill="clear"&ndash;&gt;-->
<!--&lt;!&ndash;                  [disabled]="saveBtnDisabled()"&ndash;&gt;-->
<!--&lt;!&ndash;                  (click)="saveChanges()"&ndash;&gt;-->
<!--&lt;!&ndash;      >&ndash;&gt;-->
<!--&lt;!&ndash;        Сохранить&ndash;&gt;-->
<!--&lt;!&ndash;      </ion-button>&ndash;&gt;-->

<!--      <ion-button class="wrapper__buttons-btn"-->
<!--                  id="signOutBtn"-->
<!--                  expand="block"-->
<!--                  color="danger"-->
<!--                  fill="clear">-->
<!--        Выйти из аккаунта-->
<!--      </ion-button>-->
<!--&lt;!&ndash;    </section>&ndash;&gt;-->

<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</ion-content>-->

<!--<ion-action-sheet-->
<!--  header="Подтверждение выхода"-->
<!--  subHeader="Вы уверены, что хотите выйти?"-->
<!--  trigger="signOutBtn"-->
<!--  [buttons]="actionSheetButtons"-->
<!--  (didDismiss)="logout($event)">-->
<!--</ion-action-sheet>-->
