<ion-header [translucent]="true">
  <ion-toolbar [color]="'primary'">
    <ion-title>
      Регистрация
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="wrapper">
    <ion-card class="card">
      <ion-card-content>
        <swiper-container class="swiper" auto-height="true"
                          #swiperElement>
          <swiper-slide class="swiper-no-swiping">
            <form class="form" [formGroup]="signUpFirstStepForm">
              <ion-input class="form__input"
                         mode="md"
                         [fill]="'outline'"
                         [label]="'Логин'"
                         [labelPlacement]="'stacked'"
                         [formControlName]="'login'"
              ></ion-input>
              <ion-input class="form__input"
                         mode="md"
                         [type]="'password'"
                         [fill]="'outline'"
                         [label]="'Пароль'"
                         [labelPlacement]="'stacked'"
                         [formControlName]="'password'"
              >
                <ion-input-password-toggle slot="end"></ion-input-password-toggle>
              </ion-input>

              <ion-button class="form__submitBtn"
                          [disabled]="signUpFirstStepForm.invalid"
                          (click)="swiperElement.swiper.slideNext()"
              >Далее</ion-button>

              <ion-button class="form__loginBtn"
                          [routerLink]="['/auth', 'login']"
                          [color]="'medium'"
                          [fill]="'clear'"
                          [size]="'small'"
              >Вход</ion-button>
            </form>
          </swiper-slide>
          <swiper-slide class="swiper-no-swiping">
            <ion-list class="signUpList" [formGroup]="signUpSecondStepForm">
              <ion-item>
                <ion-icon name="ruler" slot="start"></ion-icon>
                <ion-input [formControlName]="'height'"
                           [type]="'number'"
                           [labelPlacement]="'stacked'"
                           [inputmode]="'numeric'"
                >
                  <div slot="label"><ion-text [color]="'medium'">Рост</ion-text></div>
                  <div slot="end"><ion-text [color]="'medium'">см.</ion-text></div>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-icon aria-hidden="true" name="weight" slot="start"></ion-icon>
                <ion-input [formControlName]="'weight'"
                           [labelPlacement]="'stacked'"
                           [type]="'number'"
                           [inputmode]="'numeric'"
                >
                  <div slot="label"><ion-text [color]="'medium'">Вес</ion-text></div>
                  <div slot="end"><ion-text [color]="'medium'">кг.</ion-text></div>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-icon aria-hidden="true" name="target" slot="start"></ion-icon>
                <ion-input [formControlName]="'targetWeight'"
                           [type]="'number'"
                           [labelPlacement]="'stacked'"
                           [inputmode]="'numeric'"
                >
                  <div slot="label"><ion-text [color]="'medium'">Целевой вес</ion-text></div>
                  <div slot="end"><ion-text [color]="'medium'">кг.</ion-text></div>
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-icon aria-hidden="true" name="gender" slot="start"></ion-icon>
                <ion-select
                  [labelPlacement]="'stacked'"
                  [formControlName]="'gender'"
                >
                  <div slot="label"><ion-text [color]="'medium'">Пол</ion-text></div>
                  <ion-select-option [value]="GenderEnum.Male">Мужской</ion-select-option>
                  <ion-select-option [value]="GenderEnum.Female">Женский</ion-select-option>
                </ion-select>
              </ion-item>

              <ion-item>
                <ion-icon aria-hidden="true" name="telegram" slot="start"></ion-icon>
                <ion-input [formControlName]="'tgChatId'"
                           [type]="'number'"
                           [labelPlacement]="'stacked'"
                           [inputmode]="'numeric'"
                >
                  <div slot="label"><ion-text [color]="'medium'">Идентификатор чата Telegram</ion-text></div>
                  <div slot="end"><ion-text [color]="'medium'"></ion-text></div>
                </ion-input>
              </ion-item>

              <ion-button class="finishRegBtn"
                          [disabled]="signUpSecondStepForm.invalid"
                          (click)="signUp()"
              >Завершить регистрацию</ion-button>
            </ion-list>
          </swiper-slide>
        </swiper-container>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
