:host {

  .title {
    margin-left: var(--ion-card-left-margin);
  }

  .infoTitle {
    margin-top: 0;
  }
  .success {
    color: var(--ion-color-success);
  }

  .warning {
    color: var(--ion-color-warning);
  }

  .danger {
    color: var(--ion-color-danger);
  }
}

