@let isLoading = foodStatisticResource.isLoading();
@let foodStatistic = foodStatisticResource.value();

<ion-card class="card">
  <ion-card-content>
    <ion-select label="Промежуток" label-placement="floating"
                [value]="currentDateRange()"
                (ionChange)="currentDateRange.set($event.detail.value)">
      <ion-select-option>{{ DateRangeEnum.Week }}</ion-select-option>
      <ion-select-option>{{ DateRangeEnum.Month }}</ion-select-option>
      <ion-select-option>{{ DateRangeEnum.ThreeMonths }}</ion-select-option>
    </ion-select>
    @if (
      isLoading
      || foodStatistic?.records?.length
      ) {
      <div echarts
           [options]="kcalStatisticBarChartOptions()!"
           [loading]="isLoading"
      ></div>
    } @else {
      Ничего не найдено
    }
    <section class="card__summary">
      <span class="card__summary-title secondary">
        Среднее факт.
        <br>
        @let averageKcal = foodStatistic?.average?.energy?.kcal;
        <span class="primary"><b>{{ averageKcal ? (averageKcal | roundNumber) : '—' }} ккал.</b></span>
      </span>
      <span class="card__summary-title secondary">
        Среднее рек.
        <br>
        @let targetKcal = foodStatistic?.target?.energy?.kcal;
        <span class="primary"><b>{{ targetKcal ? (targetKcal | roundNumber) : '—' }} ккал.</b></span>      </span>
    </section>
  </ion-card-content>
</ion-card>
