<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="food-diary">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Питание</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="exercise-diary">
      <ion-icon name="barbell-outline"></ion-icon>
      <ion-label>Тренировки</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ai-consultant">
      <ion-icon name="ai"></ion-icon>
      <ion-label>ИИ-помощник</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="user-profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Профиль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
