:host {
  .card {
    &__title {
      display: flex;
      justify-content: space-between;
      &-name {
        font-size: 22px;
        font-weight: 500;
      }
      &-editBtn {
        &__icon {
          width: 24px;
          height: 24px;
        }
      }
    }
    &__content {
      &-title {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        &__foodIcon {
          width: 42px;
          height: 42px;
        }
        &__count {
          font-size: 20px;
          line-height: 24px;
          font-weight: 600;
          &-required {
            font-size: 18px;
          }
        }
      }
      &-bar {
        height: 50px;
      }
    }
  }
}
