<swiper-container pagination="true">
  @for (meal of mealsSummaryArray(); track $index) {
    <swiper-slide>
      <ion-card class="card">
        <ion-card-header>
          <div class="card__title">
            <div class="card__title-mealIconAndMealName">
              <ion-icon
                class="card__title-mealIconAndMealName__icon"
                [size]="'large'"
                [name]="meal.iconName"
              ></ion-icon>
              <ion-card-title class="card__title-mealIconAndMealName__name">{{ meal.name }}</ion-card-title>
            </div>
            <div class="card__title-calories">
              <span class="card__title-calories__caloriesCount">
                <ion-text [color]="'dark'">
                  <b>{{ meal.totalEnergy.kcal | roundNumber }}</b>
                  <br>
                  Калорий
                </ion-text>
              </span>
              <ion-button class="card__title-calories__addBtn"
                [fill]="'clear'"
                [size]="'large'"
              >
                <ion-icon name="add-circle-outline"></ion-icon>
              </ion-button>
            </div>

          </div>

        </ion-card-header>
<!--        <ion-card-content class="card__content">-->
<!--          <div class="card__content-title">-->
<!--            <ion-icon class="card__content-title__foodIcon" [name]="meal.iconName"></ion-icon>-->
<!--            <span class="card__content-title__count secondary">-->
<!--              {{ meal.totalEnergy.kcal | roundNumber }}-->
<!--              <span class="card__content-title__count-required tertiary">/1000 ккал.</span>-->
<!--            </span>-->
<!--          </div>-->
<!--&lt;!&ndash;          @let mealsKcalProgressBarSettings = todayMealsKcalProgressBarSettings()[$index];&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="card__content-bar" echarts [options]="mealsKcalProgressBarSettings"></div>&ndash;&gt;-->
<!--        </ion-card-content>-->
      </ion-card>
    </swiper-slide>
  }
</swiper-container>
