<ion-card>
  <ion-card-header>
    <ion-card-title>Сегодня</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="piesWrapper">
      <section class="kcalSection">
        <span class="kcalSection__text">
          <span>{{ kcalConsumed() }}</span><br>
          <span class="kcalSection__text-end">съедено</span>
        </span>
        <div class="kcalSection__pie" echarts
             [options]="kcalPieOptions()"
        ></div>
        <span class="kcalSection__text">
          <span>{{ kcalBurnt() }}</span><br>
          <span class="kcalSection__text-end">сожжено</span>
        </span>      </section>
      <section class="nutrientsSection">
        <div class="nutrientsSection__pie" echarts
             [options]="nutrientsPieOptions()"
        ></div>
      </section>
    </div>
  </ion-card-content>
</ion-card>
