<ion-card>
  <ion-card-header>
    <ion-card-title>Сегодня</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <section class="kcalSection">
      <span>{{ kcalConsumed() }} <br>съедено</span>
      <div class="kcalSection__pie" echarts
           [options]="kcalPieOptions()"
      ></div>
      <span>{{ kcalBurnt() }} <br>сожжено</span>
    </section>
    <section class="nutrientsSection">
<!--      переписать под 3 разных canvas и display flex-->
      <div class="nutrientsSection__pie" echarts
           [options]="nutrientsPieOptions()"
      ></div>
    </section>
  </ion-card-content>
</ion-card>
