<div class="wrapper">
  <h2 class="wrapper__title">Достижения</h2>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row class="header-row">
          <ion-col><strong>Дата</strong></ion-col>
          <ion-col><strong>Калории</strong></ion-col>
          <ion-col><strong>БЖУ</strong></ion-col>
          <ion-col><strong>Достижения</strong></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>15 октября</ion-col>
          <ion-col>2908 ккал.</ion-col>
          <ion-col>361 гр.</ion-col>
          <ion-col>
            <ion-icon name="checkmark-circle" color="success"></ion-icon>
            1-ый день
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</div>

