:host {
  .wrapper {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    .card {
      width: 100%;
      padding-top: 20px;
      max-width: 600px;
      .form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 60%;
        gap: 10px;
        &__input, &__submitBtn {
          width: 90%;
        }
        &__signUpBtn {
          margin-top: -10px;
        }
      }
    }
  }
}
