<swiper-container pagination="true">
  @for (meal of mealsArray(); track $index) {
    <swiper-slide>
      <ion-card class="card">
        <ion-card-header>
          <div class="card__title">
            <ion-card-title class="card__title-name">{{ meal.name }}</ion-card-title>
            <ion-button [color]="'secondary'" [fill]="'clear'">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </div>

        </ion-card-header>
        <ion-card-content class="card__content">
          <div class="card__content-title">
            <ion-icon class="card__content-title__foodIcon" name="food"></ion-icon>
            <span class="card__content-title__count secondary">
              {{ meal.kcalConsumed }}
              <span class="card__content-title__count-required tertiary">/800 ккал.</span>
            </span>
          </div>
          <div class="card__content-bar" echarts [options]="todayMealsKcalProgressBarSettings"></div>
        </ion-card-content>
      </ion-card>
    </swiper-slide>
  }
</swiper-container>
