:host {
  .kcalCard {
    margin-top: 0;
    .piesWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }
  .kcalSection {
    display: flex;
    align-items: center;
    gap: 15px;
    &__text {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
      flex-grow: 1;
      &-end {
        font-weight: normal;
        font-size: 16px;
      }
    }
    &__pie {
      aspect-ratio: 1;
      height: 220px;
    }
  }

  .nutrientsSection {
    &__pie {
      height: 150px;
    }
  }

  @media (max-width: 450px) {
    .nutrientsSection {
      &__pie {
        height: 130px;
      }
    }
  }

  @media (max-width: 414px) {
    .kcalSection {
      &__pie {
        height: 180px;
      }
    }
    .nutrientsSection {
      &__pie {
        height: 110px;
      }
    }
  }

  @media (max-width: 375px) {
    .kcalSection {
      &__pie {
        height: 150px;
      }
    }
    .nutrientsSection {
      &__pie {
        height: 100px;
      }
    }
  }

  @media (max-width: 330px) {
    .kcalSection {
      &__pie {
        height: 130px;
      }
    }
  }
}
