<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Смена пароля</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="wrapper">
    <ion-list [inset]="true"
              [formGroup]="changePasswordForm">
      <ion-item>
        <ion-icon name="lock-open-outline" slot="start"></ion-icon>
        <ion-input
          [formControlName]="'oldPassword'"
          type="password"
        >
          <div slot="label">
            <ion-text color="medium">Старый пароль</ion-text>
          </div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input
          [formControlName]="'newPassword'"
          type="password"
        >
          <div slot="label">
            <ion-text color="medium">Новый пароль</ion-text>
          </div>
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
      </ion-item>

    </ion-list>

    <section class="wrapper__buttons">
      <ion-button
        class="wrapper__buttons-btn"
        [expand]="'block'"
        [fill]="'clear'"
        [disabled]="saveBtnDisabled()"
        (click)="changePassword()"
      >
        Сохранить
      </ion-button>
    </section>
  </div>
</ion-content>
