
@mixin color() {
  @include nutrients-color();
  @include text-color();
  @include bg-color();
}

@mixin nutrients-color() {
  --fat: rgba(227, 148, 21, 0.87);
  --protein: rgba(13, 194, 244, 0.69);
  --carb: rgba(16, 227, 207, 0.7);
}

@mixin text-color() {
  --ion-text-color: #000;
  --ion-text-color-step-50: #0d0d0d;
  --ion-text-color-step-100: #1a1a1a;
  --ion-text-color-step-150: #262626;
  --ion-text-color-step-200: #333333;
  --ion-text-color-step-250: #404040;
  --ion-text-color-step-300: #4d4d4d;
  --ion-text-color-step-350: #595959;
  --ion-text-color-step-400: #666666;
  --ion-text-color-step-450: #737373;
  --ion-text-color-step-500: #808080;
  --ion-text-color-step-550: #8c8c8c;
  --ion-text-color-step-600: #999999;
  --ion-text-color-step-650: #a6a6a6;
  --ion-text-color-step-700: #b3b3b3;
  --ion-text-color-step-750: #bfbfbf;
  --ion-text-color-step-800: #cccccc;
  --ion-text-color-step-850: #d9d9d9;
  --ion-text-color-step-900: #e6e6e6;
  --ion-text-color-step-950: #f2f2f2;
}

@mixin bg-color() {
  --ion-background-color: #ffffff;
  --ion-background-color-step-50: #fafafa;
  --ion-background-color-step-100: #f5f5f5;
  --ion-background-color-step-150: #f0f0f0;
  --ion-background-color-step-200: #ebebeb;
  --ion-background-color-step-250: #e6e6e6;
  --ion-background-color-step-300: #e0e0e0;
  --ion-background-color-step-350: #dbdbdb;
  --ion-background-color-step-400: #d6d6d6;
  --ion-background-color-step-450: #d1d1d1;
  --ion-background-color-step-500: #cccccc;
  --ion-background-color-step-550: #c2c2c2;
  --ion-background-color-step-600: #b8b8b8;
  --ion-background-color-step-650: #adadad;
  --ion-background-color-step-700: #a3a3a3;
  --ion-background-color-step-750: #999999;
  --ion-background-color-step-800: #8f8f8f;
  --ion-background-color-step-850: #858585;
  --ion-background-color-step-900: #7a7a7a;
  --ion-background-color-step-950: #707070;
}
